flows.json
[{"id":"7faebe.ee956144","type":"tab","label":"IOT_Assignment","disabled":false,"info":""},{"id":"904fface.b75f28","type":"ibmiot in","z":"7faebe.ee956144","authentication":"apiKey","apiKey":"206a78f.949ee88","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"nodeagri","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":220,"y":160,"wires":[["a030fed3.5003a","23d3f996.7f1e36","f45a1cb3.8dde4","91d26111.6568a","e7fec7d8.786d48"]]},{"id":"a030fed3.5003a","type":"debug","z":"7faebe.ee956144","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":160,"wires":[]},{"id":"23d3f996.7f1e36","type":"ui_gauge","z":"7faebe.ee956144","name":"","group":"9c5a0ff8.d650a8","order":1,"width":0,"height":0,"gtype":"gage","title":"Fan Speed","label":"units","format":"{{msg.payload.fanspeed}}","min":0,"max":"100","colors":["#30b300","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":260,"wires":[]},{"id":"f45a1cb3.8dde4","type":"ui_gauge","z":"7faebe.ee956144","name":"","group":"9c5a0ff8.d650a8","order":2,"width":0,"height":0,"gtype":"gage","title":"Light Intensity","label":"units","format":"{{msg.payload.light}}","min":0,"max":"250","colors":["#b30000","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":320,"wires":[]},{"id":"91d26111.6568a","type":"ui_gauge","z":"7faebe.ee956144","name":"","group":"9c5a0ff8.d650a8","order":3,"width":0,"height":0,"gtype":"gage","title":"Temprature","label":"units","format":"{{msg.payload.temp}}","min":0,"max":"100","colors":["#9e00b3","#e6e600","#db1414"],"seg1":"","seg2":"","x":450,"y":380,"wires":[]},{"id":"e7fec7d8.786d48","type":"cloudant out","z":"7faebe.ee956144","name":"","cloudant":"","database":"nodeagri","service":"node-red-rrbou-2020--cloudant-1601471020776-78574","payonly":true,"operation":"insert","x":270,"y":400,"wires":[]},{"id":"206a78f.949ee88","type":"ibmiot","z":"","name":"newapi","keepalive":"60","serverName":"vay67i.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"9c5a0ff8.d650a8","type":"ui_group","z":"","name":"Temprature","tab":"f92d0b0d.3fd498","order":1,"disp":true,"width":"6","collapse":false},{"id":"f92d0b0d.3fd498","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]